/*===========================================*/
/* Colors */
/*===========================================*/
$primary: #ff6464;
$primaryShade1: #e65a5a;

$secondary: #00a8cc;
$dark: #1c242a;
$darkOverlay: rgb(28, 36, 42, 0.95);
$darkOverlay2: rgb(28, 36, 42, 0.6);
$light: #8695a4;
$lightOverlay: rgba(134, 149, 164, 0.95);
/*===========================================*/
// Text
/*===========================================*/
$headerText: #fff;
$linkHover: #bb9c66;

/*===========================================*/
