@use "defaults" as d;

.footer {
    width: 100%;
    min-height: 17.8rem;
    background-color: d.$dark;

    // .footer__container

    &__container {
        max-width: 95rem;
        display: flex;
        gap: 3rem;
        padding: 5rem 0;

        @include d.mq(tablet-wide, max) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    // .footer__logo

    &__logo {
        display: flex;
        gap: 2.7rem;
        flex-direction: column;
        align-items: center;

        @include d.mq(tablet, max) {
            flex-direction: column-reverse;
        }

        .header__logo {
            position: relative;
            max-width: 20rem;
            height: 2rem;
            // max-width: 17.1rem;
            // height: 4.1rem;

            img {
                object-fit: cover;
            }
        }
    }

    // .footer__copyright

    &__copyright {
        color: #bb9c66;
        font-size: 1.3rem;
        line-height: 1;
    }

    // .footer__menu

    &__menu {
        padding: 0;
        padding-top: 0.3rem;

        flex: 1 1 auto;
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        max-width: 49rem;
        column-gap: 2rem;
        row-gap: 1rem;
        @include d.mq(tablet-wide, max) {
            justify-content: center;
            max-width: 60rem;
        }
    }

    // .footer__contacts

    &__contacts {
    }
}
.header {
    // .header__logo

    &__logo {
        padding: 0;
    }

    // .header__link-text

    &__link-text {
    }
}
.f-menu {
    // .f-menu__item

    &__item {
    }
}
.m-i {
    // .m-i__link

    &__link {
        line-height: 1;

        @include d.mq(tablet-wide, max) {
            font-size: 1.7rem;
            color: #fff;
        }

        @include d.mq(tablet, max) {
        }
    }
}
.f-c {
    color: d.$linkHover;
    margin-left: auto;

    @include d.mq(tablet-wide, max) {
        margin: 0;
    }

    // .f-c__phone

    &__phone {
        margin: 0;
        display: flex;
        align-items: flex-start;
    }

    // .f-c__country-prefix

    &__country-prefix {
        position: relative;
        span {
            position: absolute;
            left: -0.8rem;
            top: 0.3rem;
            font-size: 1.4rem;
            padding-bottom: 0.3rem;
        }

        font-size: 2.2rem;
        line-height: 1;
    }

    // .f-c__phone-number

    &__phone-number {
        line-height: 1;
        flex: 0 1 auto;
        font-family: "Bravo RG";
        font-size: 5rem;
    }

    // .f-c__link

    &__link {
        flex: 1 0 100%;
        display: flex;
        gap: 0.3rem;
        justify-content: flex-end;

        @include d.mq(tablet-wide, max) {
            justify-content: center;
            margin-top: 1rem;
        }
    }

    // .f-c__link-icon

    &__link-icon {
    }

    // .f-c__link-text

    &__link-text {
    }
}
