@use "defaults";

.background {
    width: 100%;
    background-color: defaults.$dark;

    /* Style for "Rectangle" */
}
.header {
    position: relative;
    height: 7.5rem;
    display: flex;
    align-items: center;
    @include defaults.mq(desktop, max) {
        gap: 4rem;
    }

    // .header__menu
    &__logo {
        padding: 0 8.2rem 2rem 0;

        @include defaults.mq(tablet, max) {
            @include defaults.center-absolute();

            padding: 0;
            order: 2;
        }
    }

    &__menu {
        @include defaults.mq(tablet, max) {
            order: 3;
        }
        padding: 0 1rem;

        @media (max-width: (map-get(defaults.$breakpoints, tablet))) {
            height: 5rem;
        }
        @extend %header-template;
    }

    &__link-text {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        font-family: "PF Din Text Cond Pro";
        @media (min-width: (map-get(defaults.$breakpoints, tablet))) {
            .link__text {
                font-size: 3.2rem;
            }
            color: defaults.$headerText !important;
            transition: color 0.3s;
        }
        &:hover,
        &:active {
            color: defaults.$linkHover;
        }
    }

    &__region {
        height: auto;
        display: flex;
        gap: 1.1rem;
        align-items: center;
        flex: 1 0 13.5rem;
        padding: 0 3rem 0 5.2rem;
        @include defaults.mq(desktop, max) {
            display: none;
        }
    }

    &__profile {
        padding-top: 1.2rem;
        @include defaults.mq(tablet, max) {
            order: 1;
        }

        display: block;
        img {
            @extend %icon-image;
            object-position: -0.2rem -1.1rem;
            width: 5rem;
            height: 3.3rem;
        }

        &__menu {
        }
    }
}

.region {
    &__icon {
        height: 1.8rem;
        img {
            @extend %icon-image;
            object-fit: cover;
            // align-self: center;
        }
    }
}

.profile {
    &:hover {
        cursor: pointer;
    }
    position: relative;
    &__link-text {
        &:link,
        &:visited {
            color: defaults.$headerText;
            transition: color 0.3s;
        }
        &:hover,
        &:active {
            cursor: pointer;
            color: linkHover;
        }
    }

    &__menu {
        width: 17.6rem;
        height: 12.5rem;
        padding: 2.5rem;
        padding-top: 0.8rem;
        // bottom: -15.5rem;
    }
}

.profile-menu {
    &._active {
        opacity: 1;
        visibility: visible;
        bottom: -14.5rem;
    }
    display: flex;
    opacity: 0;
    visibility: hidden;
    gap: 0rem;
    align-items: flex-start;
    flex-direction: column;

    background-color: defaults.$dark;
    position: absolute;
    bottom: -15rem;
    @include defaults.mq(desktop, max) {
        right: -5.5rem;
    }
    @include defaults.mq(phablet, max) {
        right: -12rem;
    }

    z-index: 5;

    transition: all 0.3s ease-out;
    &__link {
        img {
            @extend %icon-image;
            width: 1.7rem;
            height: 1.7rem;
            object-fit: contain;
            object-position: 0rem 0rem;
        }
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }
}

.menu {
    // .menu__icon

    &__icon {
        display: none;
        // @extend %header-template;
        @media (max-width: (map-get(defaults.$breakpoints, tablet))) {
            display: block;
            position: absolute;
            top: 3.5rem;
            right: 2rem;
            width: 3rem;
            height: 0.8rem;
            z-index: 10;
            transform: scale(1.4);
            cursor: pointer;
            span {
                transition: all 0.3s ease 0s;
                top: -0.5rem;
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: defaults.$linkHover;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    top: auto;
                    bottom: 0;
                }
            }
        }
        &._active {
            span {
                z-index: 10;
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    // .menu__body

    &__body {
        @media (max-width: (map-get(defaults.$breakpoints, tablet))) {
            transform: translateY(-100%);
            padding: 9rem;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: defaults.$darkOverlay;
            z-index: 1;
            transition: all 0.4s ease-out;
            overflow: auto;

            &._active {
                transform: translateY(0);
            }
        }
    }

    // .menu__list

    &__list {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 3.3rem;
        align-items: center;
        justify-content: flex-end;

        @include defaults.mq(desktop, max) {
            gap: 5rem;
        }

        @media (max-width: 845px) {
            gap: 3.3rem;
        }

        @media (max-width: (map-get(defaults.$breakpoints, tablet))) {
            align-items: center;
            flex-direction: column;
        }
    }

    // .menu__link

    &__link a {
        @include defaults.mq(tablet, max) {
            color: defaults.$linkHover !important;
            font-size: 4rem;
        }
    }
}

.icon-menu {
}

// Header menu style template
%header-template {
    @include defaults.mq(tablet, max) {
        display: block;
        // position: relative;
        // top: 3.6rem;
        // right: 4rem;
        width: 3rem;
        height: 1.8rem;
        z-index: 10;
    }
}

/*
Burger menu styles

.icon-menu {
    display: none;
    @media (max-width: (map-get(defaults.$breakpoints.tablet)))) {
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 1rem;
        width: 3rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}


*/
