//=================================================
// Home Section Boilerplate
//=================================================
// https://youtu.be/GNvcGNx5zgQ?t=784
// https://inspect.ceros.com/view/c91730d517784f1c938c80275f8f14cb/91653645/inspect/

main {
    display: flex;
    flex-direction: column;
}

.test {
    font-family: "PF Din Text Cond Pro Medium";
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    background-color: red;
    display: block;
    width: 100%;
}
