@use "defaults" as d;

// separator container placeholder
%separator {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 398fr 152fr 398fr;
    justify-items: center;
    align-self: center;
}

%pattern-border {
    border: 1px solid d.$linkHover;
}

.separator-pattern {
    // .separator-pattern__left

    &__left {
    }

    &__right {
        transform: rotate(180deg);
    }

    &__center {
        img {
        }
    }
}
.s-p {
    display: flex;
    align-items: center;
    width: 100%;

    // horizontal line pattern

    &::before {
        content: "";
        width: 100%;
        background-color: d.$linkHover;
        height: 1px;
    }

    // medium sized square pattern

    &::after {
        content: "";
        margin: 0 0.5rem;
        flex: 1 0 auto;
        @extend %pattern-border;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(45deg);
    }

    span {
        display: flex;
        align-items: center;

        &::before {
            content: "";
            margin-left: 1rem;
            flex: 1 0 auto;
            @extend %pattern-border;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
        }

        &::after {
            content: "";
            margin: 0 1rem;
            flex: 1 0 auto;
            @extend %pattern-border;
            width: 1.5rem;
            height: 1.5rem;
            transform: rotate(45deg);
        }
    }
}
