@use "defaults" as d;

// separator container placeholder
%separator {
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 398fr 152fr 398fr;
    justify-items: center;
    align-self: center;
}

%pattern-border {
    border: 1px solid d.$linkHover;
}

.separator-pattern {
    // .separator-pattern__left

    &__left {
    }

    &__right {
        transform: rotate(180deg);
    }

    &__center {
        img {
        }
    }
}
.s-p {
    display: flex;
    align-items: center;
    width: 100%;

    // .s-p__line

    &__line {
        flex: 0 1 100%;
        background-color: d.$linkHover;
        height: 1px;
    }

    // .s-p__circle

    &__circle {
        margin-left: 1rem;
        flex: 1 0 auto;
        @extend %pattern-border;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
    }

    // .s-p__square-sm

    &__square-sm {
        margin: 0 1rem;
        flex: 1 0 auto;
        @extend %pattern-border;
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(45deg);
    }

    // .s-p__square-md

    &__square-md {
        margin: 0 0.5rem;
        flex: 1 0 auto;
        @extend %pattern-border;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(45deg);
    }
}
