@use "defaults" as d;

.services {
    height: 72.5rem;
    margin-top: 7.7rem;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: d.$dark;

    // .services__container

    &__container {
        flex-direction: column;
        width: 101rem;
        gap: 5rem;
    }

    // .services__header

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
        .auction__heading {
            color: #fff;
        }
        .div-wide {
            align-self: center;
        }
    }

    // .services__articles

    &__articles {
        display: flex;
        justify-content: space-between;
    }

    // .services__article

    &__article {
        max-width: 25rem;
        height: 36.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3.2rem;

        // .services__article__image

        &__image {
            width: 16.1rem;
            height: 16.1rem;
            img {
                object-fit: none;
                object-position: -2rem -0.6rem;
            }
        }

        // .services__article__heading

        &__heading {
            // padding-top: 1.5rem;
        }

        &__footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .p-v__v-line {
                height: 1px;
                width: 6rem !important;
            }
        }
    }
}
.container-fluid {
}

// ._centered

._centered {
}

.auction {
    // .auction__info

    &__info {
    }

    // .auction__heading

    &__heading {
    }

    // .auction__divider-wide

    &__divider-wide {
    }
}
.article-info {
    padding: 0;
}
.heading {
}
.div-wide {
    // .div-wide__left

    &__left {
    }

    // .div-wide__wide

    &__wide {
    }

    // .div-wide__right

    &__right {
    }
}
.expert {
    .description {
        // .description__text

        &__text {
            color: d.$linkHover !important;
        }
    }
}
.category {
    // .category__title

    &__title {
        margin: 0;
    }
}
.order {
}
.repair {
}
